.card {
    font-size: 4rem;
    background-color: beige;
    border: 8px solid rgb(99, 163, 224);
    border-radius: 7px;
    padding: 10px;
    min-width: 80px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.found {
    opacity: 0;
}
