.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    background-color: beige;
    border: 8px solid rgb(99, 163, 224);
    border-radius: 7px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    height: 80px;
    width: 80px;
}

.found {
    opacity: 0;
}
