body {
    margin: 0 auto;
    height: 100vh;
    /* This grid is used only to centre 
    the contents of the page on both axes */
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-areas: "a a a a";
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 10px solid #0d4b0f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px;
}
